body {
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.niav {
    color: rgb(124, 19, 19);
}


.m-imge {
    background-image: url('./genshin-impact-yae-miko-guuji-cool-wallpaper-3554x1999_53.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgba(246, 255, 240, 0.616);
    margin: 0;
}

.al {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.al:hover {
    background-color: rgb(75, 48, 73);
    padding: 5px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: rgba(114, 117, 117, 0.425);
}

.flex-container p {
    height: 100px;
    width: 100px;
    /* background-color: rgb(59, 78, 72); */
}

.green {
    background-color: green;
}

.red {

    background-color: red;
}

.blue {
    background-color: blue;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.content-section {
    background-color: rgba(157, 38, 204, 0.685);
    width: fit-content;
    padding: 40px;
    margin: 30px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -5px -5px 15px;
}

.content-section h2 {
    font-size: 25px;
}

.content-section h3 {
    font-size: 20px;
}

.content-section ul {
    list-style: square;
}

.right {
    align-self: flex-end;
}

.activiti{
    background-color: rgb(75, 48, 73);
    padding: 5px;
    border-radius: 10px;
}